.color-gelb
    color: var(--gelb)
.color-orange
    color: var(--orange)
.color-schwarz
    color: var(--schwarz)
.color-weiss
    color: var(--weiss)
.bg-gelb
    background-color: var(--gelb)
.bg-orange
    background-color: var(--orange)
.bg-schwarz
    background-color: var(--schwarz)
.bg-weiss
    background-color: var(--weiss)