body
    margin: 0
    padding: 0

blockquote,
figure
    margin-left: 0
    margin-right: 0

// Margins
.mt-none
    margin-top: 0
.mb-none
    margin-bottom: 0

h1,
h2,
h3,
h4,
h5,
h6,
p,
.wp-block-columns,
figure
    &:not([class*="mt-"])
        margin-top: 0

h1,
h2,
h4,
h5,
h6,
p,
.wp-block-columns,
figure,
blockquote,
.content p:last-child
    &:not([class*="mb-"])
        margin-bottom: 0

// Margins
.mt-xtraSmallMargin
    --ankerHeight: calc(var(--xtrasmallMargin) + 40px)
    margin-top: var(--xtrasmallMargin)
.mb-xtraSmallMargin:not(:empty)
    margin-bottom: var(--xtrasmallMargin)
.xtraSmallMargin
    margin: var(--xtrasmallMargin)

.mt-smallMargin
    --ankerHeight: calc(var(--smallMargin) + 40px)
    margin-top: var(--smallMargin)
.content > .firstElement + .cover:not([class*="mb-"]),
.mb-smallMargin:not(:empty)
    margin-bottom: var(--smallMargin)
.smallMargin
    margin: var(--smallMargin)
.mb-columnMargin
    margin-bottom: var(--columnMargin)
.mt-columnMargin
    margin-top: var(--columnMargin)
.mt-mediumMargin,
.page-content > div:not([class*="mt-"]),
.wp-block-quote:not([class*="mt-"]):not(:first-child)
    --ankerHeight: calc(var(--mediumMargin) + 40px)
    margin-top: var(--mediumMargin)
.mb-mediumMargin,
.page-content > div:not([class*="mb-"]),
.wp-block-columns:not([class*="mb-"])
    margin-bottom: var(--mediumMargin)
.mediumMargin
    margin: var(--mediumMargin)

.mt-bigMargin,
.page-content > h2:not([class*="mt-"])
    --ankerHeight: calc(var(--bigMargin) + 40px)
    margin-top: var(--bigMargin)
.mb-bigMargin
    margin-bottom: var(--bigMargin)
.bigMargin
    margin: var(--bigMargin)

.mt-xtrabigMargin
    --ankerHeight: calc(var(--xtrabigMargin) + 40px)
    margin-top: var(--xtrabigMargin)
.mb-xtrabigMargin
    margin-bottom: var(--xtrabigMargin)
.xtrabigMargin
    margin: var(--xtrabigMargin)

.mt-fontMargin
    --ankerHeight: calc(var(--fontSize) + 40px)
    margin-top: var(--fontSize)

.mb-fontMargin
    margin-bottom: var(--fontSize)

.mt-fontMarginHalf
    --ankerHeight: calc((var(--fontSize) / 2) + 40px)
    margin-top: calc(var(--fontSize) / 2)

.mb-fontMarginHalf
    margin-bottom: calc(var(--fontSize) / 2)

.page-content
    h2
        &:not([class*="mb-"]):not(:last-child)
            margin-bottom: var(--fontSize)
.content
    p
        &:not([class*="mb-"]):not(:last-child)
            margin-bottom: var(--fontSize)
    h3
        &:not([class*="mb-"])
            margin-bottom: calc(var(--fontSize) / 2)

video
    max-width: 100%
.size-full
    img
        max-width: 100%
        height: auto


.content > .wp-block-button,
.content > .wp-block-buttons,
article > .wp-block-button
    margin-left: auto
    margin-right: auto

p, h2, div.wp-block-columns, div.aundo-slider, div.wp-block-query,
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > p,
.content > ul,
.content > ol,
.content > .wp-block-columns,
.content > .wp-block-query,
.content > .wp-block-quote,
.content > .wp-block-group > .wp-block-group__inner-container,
.sidePadding,
.single-content > .wp-block-image,
.single-content > .wp-block-video,
.single-content > .aundo-slider,
.smallColumns:not(.slide)
    padding-left: var(--sidePadding)
    padding-right: var(--sidePadding)
    width: 100%
    box-sizing: border-box
    max-width: 100vw

// .content > *,
.single-content > *,
.smallColumns,
.sideMargin,
.has-text-align-center:not(.alignLeft)
    margin-left: auto
    margin-right: auto

.maxSmall,
.content > div p:not(.fullwidth):not(.has-text-align-center)
    max-width: 40rem

.maxWide,
.content h2, 
.content > .aundo-maske > .aundo-background > h2,
.content > .aundo-background > h2,
.content .has-text-align-center,
.smallColumns,
.content > ul:not(.fullwidth),
.content > p:not(.fullwidth),
.single-content.content > h1,
.single-content.content > h2,
.single-content.content > h3,
.single-content.content > h4,
.single-content.content > h5,
.single-content.content > h6,
.single-content.content > ul,
.single-content.content > ol,
.single-content.content > .wp-block-image,
.single-content.content > .wp-block-video,
.single-content.content > .four-image-gallery,
.single-content.content > .aundo-slider,
.single-content.content > .wp-block-columns
    max-width: 70rem

// .category-referenzen .relatedPosts,
.mediumColumns
    max-width: 88rem 

input,
textarea
    box-sizing: border-box

.column-gap
    gap: var(--columnGap)

.content .wp-block-columns
    &:not(.bigGap):not(.accColumns)
        gap: var(--columnGap)
    &.bigGap
        gap: 5vw

#body .zeroGrow
    flex-grow: 0