body
    --schwarz: #000000
    --weiss: #fff
    --xtrasmallMargin: .5rem
    --smallMargin: clamp(1.25rem, 3vw, 3.2rem)
    --mediumMargin: clamp(2.6rem, 7vw, 6.25rem)
    --bigMargin: clamp(5rem, 11vw, 10rem)
    --xtrabigMargin: clamp(6.25rem, 25vw, 22rem)
    --columnGap: 1.6rem
    --sidePadding: clamp(.5rem, 4vw, 4rem)