.burger
    width: 40px
    height: 40px
    flex-direction: column
    position: relative
    cursor: pointer
    
    span
        width: 40px
        height: 5px
        display: block
        will-change: transform
        transition: .3s transform ease
        position: absolute
        left: 0
        background-color: var(--orange)

        &:first-child
            top: 10px
        
        &:nth-child(2)
            top: 22px

        &:last-child
            top: 34px

.header[data-status="open"]
    .burger
        span
            top: 15px
            &:first-child
                transform: rotate(45deg)
            &:last-child
                transform: rotate(-45deg)
            &:nth-child(2)
                display: none