.burger
    width: clamp(1.25rem, 2vw, 2.5rem)
    height: auto
    aspect-ratio: 56 / 37
    flex-direction: column
    position: relative
    cursor: pointer
    display: flex
    justify-content: space-between
    flex-direction: column

    span
        width: clamp(1.25rem, 2vw, 2.5rem)
        height: clamp(3px, .3vw, 6px)
        display: block
        will-change: transform
        transition: .3s transform ease
        background-color: var(--orange)

.header[data-status="open"]
    .burger
        span
            position: absolute
            
            &:first-child
                transform: rotate(45deg)
            &:last-child
                transform: rotate(-45deg)
            &:nth-child(2)
                display: none

@media only screen and (max-width: 819px)
    .burger    
        position: fixed
        bottom: calc(var(--sidePadding) / 2)
        right: calc(var(--sidePadding) / 2)