.burger
    width: 40px
    height: 40px
    flex-direction: column
    position: relative
    cursor: pointer
    
    span
        width: 40px
        height: 5px
        display: block
        will-change: transform
        transition: .3s transform ease
        position: absolute
        left: 0

        &:first-child
            top: 10px

        &:last-child
            top: 25px

.header[data-status="closed"]
    .burger
        span
            background-color: var(--weiss)
.header[data-status="open"]
    .burger
        span
            top: 15px
            background-color: var(--weiss)
            &:first-child
                transform: rotate(45deg)
            &:last-child
                transform: rotate(-45deg)