html[data-ready="true"] 
    #body .wp-block-button__link,
    #body .gform_footer
        transition: .3s color ease
        will-change: color

    #body .wp-block-button__link:before,
    #body .gform_footer:before,
    #body .button-linkstyle svg,
    #body .accHead .openicon
        transition: .3s transform ease
        will-change: transform

.wp-block-button__link,
.gform_footer 
    cursor: pointer
     
.wp-block-button svg,
.gform_footer svg,
.accHead .openicon 
    margin-left: 1rem
    height: 1rem
    top: calc(var(--fontSize) * -.1)
    position: relative
    min-width: 1rem
    width: 1rem
.wp-block-button svg,
.gform_footer svg,
.accHead .openicon 
    width: auto
    margin-left: 1rem
    height: 1rem
    top: calc(var(--fontSize) * -.1)
    position: relative
    
.wp-block-button,
.gform_footer 
    flex-wrap: nowrap
    display: flex
    width: fit-content
    align-items: center
    position: relative
    max-width: 100%
    
    &:not([class*="ebene-"])
        z-index: 0

    &:not(.button-linkstyle)
        .wp-block-button__link
            border: clamp(.18rem, .5vw, .375rem) solid var(--orange)
            padding-top: clamp(10px, .9vw, 2rem) 
            padding-bottom: clamp(8px, .6vw, 1.8rem)
            padding-right: clamp(1rem, 1.9vw, 1.6rem)
            padding-left: clamp(1rem, 1.9vw, 1.6rem)
            color: currentColor

            &:before
                content: ""
                width: 101%
                height: calc(100% + clamp(1px,.2vw,2.5px))
                position: absolute
                top: 0
                left: 0
                display: flex
                background-color: var(--orange)
                z-index: -1
                transform-origin: left
            
            &:hover
                color: var(--weiss)

            &:not(:hover):before 
                transform: scaleX(0)

    &.button-linkstyle
        .wp-block-button__link
            color: var(--orange)
            padding-right: 1rem

.button-linkstyle .wp-block-button__link:hover svg
    transform: translateX(100%)

.wp-block-button__link,
.gform_footer
    margin-left: auto
    margin-right: auto
    background-color: transparent
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    height: fit-content 
    isolation: isolate

.gform_footer 
    margin-left: 0
    
    input
        color: inherit
        background: transparent
        padding: 0
        border-radius: 0

.wp-block-button
    .inlineIcon
        --fontSize: 3.6vw 

// .button-linkstyle
//     fill: currentColor
//     cursor: pointer

//     &:hover svg
//         transform: translateX(100%)
    
//     svg
//         width: auto
//         margin-left: 1rem

//     &:not([class*="color-"])
//         color: var(--orange)


//     width: fit-content
//     position: relative
//     width: fit-content
//     padding-right: 0

//     &:before,
//     &:after
//         content: ''
//         width: 6px
//         margin-left: calc(var(--fontSize) / 2)
//         height: calc(var(--fontSize) * .5)
//         background-color: currentColor
//         display: inline-block
//     &:after
//         position: relative
//         top: -8px
//         transform: rotate(-45deg)
//     &:before
//         position: absolute
//         right: 0
//         bottom: 8px
//         transform: rotate(45deg)