#site-footer
    padding-top: var(--mediumMargin)
    padding-bottom: var(--mediumMargin)
    background-color: var(--schwarz)
    color: var(--weiss)
    justify-content: space-between

    path
        fill: var(--weiss)

    .wp-block-group
        gap: calc(var(--columnGap) / 2)
        align-items: center

    .custom-logo-link img,
    .logo
        height: clamp(3.6rem, 5.2vw, 6.25rem)
        width: auto

    .wp-block-social-link-label
        display: none

@media only screen and (max-width: 950px)
    footer
        text-align: center
        align-items: center

        .menu
            display: flex
            gap: 2rem

        .custom-logo-link,
        .logo
            margin-bottom: var(--columnGap)

    footer,
    .wp-block-group
        flex-direction: column
@media only screen and (min-width: 951px)
