ul,
ol
    padding: 0
    margin: 0
    list-style-type: none

.content ol,
.content ul
    li
        &:not(:last-child):not([class*="mb-"])
            margin-bottom: var(--fontSize)
            
.content ul
    &:not([class*="list-"]) li
        padding-left: 30px
        position: relative

        &:before
            position: absolute
            left: 0

.content ul 
    &:not([class*="list-"])
        li:before
            content: '/'
            color: var(--gelb)
    
    &.list-check li
        display: flex
        align-items: flex-start

        path
            fill: var(--orange)

        .check
            display: flex
            align-items: center
            margin-right: 5px
            height: calc(var(--fontSize) * 1.5)

        svg
            width: var(--fontSize)
            height: var(--fontSize)
        
    li
        &:before
            font-weight: 900

    ul
        padding-left: 15%

ol
    li
        counter-increment: li

        &::before
            content: counter(li) ". "
            color: var(--orange)
            font-weight: $fw_medium