.header
    &[data-status="open"]
        .navigation
            opacity: 1
            transform: none

    &[data-status="closed"]
        .navigation
            pointer-events: none

#menu-main
    display: flex
    flex-direction: column
    justify-content: center
    gap: clamp(3rem, 5vw, 4.5rem)

    > li
        display: flex
        flex-direction: column
        justify-content: flex-end
        background-color: var(--schwarz)

.sub-menu
    position: absolute
    top: 100%
    margin-top: clamp(1rem, 3vw, 3rem)
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 1rem
    padding: 0
    will-change: transform, opacity
    transition: .3s transform ease, .3s opacity ease
    max-width: 40rem

// .sub-menu > li,
.navigation li
    color: var(--weiss)
    position: relative

    &:not(:hover):before
        transform: scaleX(0)

    &:not(.menu-item-has-children):before
        content: ''
        height: 2px
        width: 100%
        background-color: var(--orange)
        display: block
        position: absolute
        bottom: 0
        left: 0
        transition: .3s transform ease
        will-change: transform
        transform-origin: left

    li a
        font-size: clamp(1rem, 1.7vw, 1.875rem)
        text-transform: none
        font-weight: 400

.navigation
    position: fixed
    left: 0
    top: 0
    width: var(--viewportWidth)
    height: var(--windowHeight)
    background: var(--schwarz)
    overflow-y: auto
    padding-top: calc(var(--headerheight) + var(--smallMargin))
    transition: .5s opacity ease, .5s transform ease
    will-change: opacity, transform
    opacity: 0
    transform: translateX(-200px)
    box-sizing: border-box

    .openIcon        
        display: inline-flex
        align-items: center
        justify-content: center
        height: calc(var(--fontSize) * .5)
        margin-left: 1.25rem
        fill: var(--orange)
        transition: .3s transform ease
        will-change: transform

    .menu-item-has-children
        width: 100%

        > a
            pointer-events: none
            cursor: default
            line-height: 1
            display: flex
            align-items: center

        &[data-status="closed"]
            .openIcon 
                transform: rotate(180deg)
            .sub-menu
                transform: translateY(-100%)
                pointer-events: none
                opacity: 0

        &[data-status="open"]
            .sub-menu
                transform: translateY(0%)
                position: relative

@media only screen and (min-width: 820px)
    #menu-main,
    #menu-main > li
        align-items: flex-end
    
    .sub-menu
        justify-content: flex-end
//     .navigation
//         .sub-menu
//             display: flex
//             align-items: center
//             justify-content: flex-end
//             flex-wrap: wrap
//             gap: 1rem

@media only screen and (max-width: 819px)
    #menu-main,
    #menu-main > li
        align-items: center
    
    .sub-menu
        justify-content: center
//     .navigation
//         padding-bottom: calc(var(--headerheight) + var(--smallMargin))
//         display: flex
//         flex-direction: column
//         justify-content: flex-end

//         .menu-item-has-children
//             &[data-status="closed"]
//                 .sub-menu
//                     max-height: 0
//                     transform: translateY(-100%)

//                     a
//                         pointer-events: none
                    
//         > div
//             margin-top: var(--smallMargin)
//             margin-bottom: var(--smallMargin)

//         .menu-main-container
//             max-height: 100%
//             overflow: auto
//         .sub-menu
//             box-sizing: border-box
//             padding-top: 1rem
//             padding-bottom: 1rem
//             a
//                 padding-top: 1rem
//                 padding-bottom: 1rem
//                 margin-top: .5rem
//                 margin-bottom: .5rem
//                 display: block

//             span
//                 display: block
//                 min-height: 36px
