@mixin spacerOn
    width: var(--windowWidth)
    line-height: 1
    max-width: var(--windowWidth)
    overflow: hidden
    
    span 
        &.content
            width: fit-content
            text-align: center
            top: calc(var(--fontSize) * .1)
            position: relative
            padding: 0 .5rem
            display: block
            box-sizing: border-box
            margin-left: auto
            margin-right: auto

@for $i from 1 through 6 
    h#{$i}.spacer-on
        @include spacerOn

p.spacer-on
    @include spacerOn

.wp-block-group .spacer:not(.overlap),
.wp-block-column .spacer:not(.overlap)
    margin-top: calc((var(--smallMargin) * -1 ) + (var(--fontSize) * -.5))
    margin-bottom: 1rem

.spacer
    line-height: 1
    --fontSize: clamp(3.2rem, 5vw, 5rem)
    width: clamp(.5rem, 80vw, 70rem)
    font-size: var(--fontSize)
    font-family: 'Raleway'
    font-weight: 900
    color: var(--gelb)
    height: var(--fontSize)
    overflow: hidden
    position: relative
    display: flex
    z-index: 1
    max-width: 80%

    &:not(.ende):not(.rightAlign)
        justify-content: flex-end
        margin-left: calc(var(--fontSize) * -1) !important
    &.rightAlign
        margin-left: auto !important
        margin-right: calc(var(--fontSize) * -1) !important

    &.overlap
        margin-bottom: calc(var(--fontSize) * -.5)

    &:before
        content: '///////////////////////////////////////////////////'
        white-space: nowrap
        position: absolute

.padding-edge .spacer.overlap:last-child
    margin-bottom: 0
    bottom: calc(var(--fontSize)*-.5 - var(--smallMargin))

#body .content > .wp-block-cover:last-child:not([class*="mb-"]),
#body .content > *[class*="bg-"]:last-child:not([class*="mb-"])
    margin-bottom: calc((clamp(3.2rem, 5vw, 5rem) * -.5) )

@media only screen and (max-width: 549px)
    @mixin spacerOn-max549
        span.ende 
                margin-right: calc(var(--fontSize) * -1) !important
                margin-left: auto !important

    @for $i from 1 through 6 
        h#{$i}.spacer-on
            @include spacerOn-max549
            
    p.spacer-on
        @include spacerOn-max549

@media only screen and (min-width: 550px)
    @mixin spacerOn-min550
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        // left: var(--fontSize)

        span 
            &.content
                flex-grow: 0
                flex-shrink: 0
                max-width: 72vw

            &.start,
            &.ende
                flex-grow: 1
                flex-shrink: 1

            &.ende
                margin-left: 0 !important

    @for $i from 1 through 6 
        h#{$i}.spacer-on
            @include spacerOn-min550

    p.spacer-on
        @include spacerOn-min550

@media only screen and (min-width: 782px)
    .wp-block-column .spacer,
    .wp-block-group .spacer
        max-width: 30vw